{namespace neos=NEOS\Neos\ViewHelpers}
{namespace ts=NEOS\TypoScript\ViewHelpers}

<div class="collapse navbar-collapse navbar-ex1-collapse">
    <f:render section="itemsList" arguments="{items: items}" />
</div>

<f:section name="itemsList">
    <ul class="nav navbar-nav">
        <f:for each="{items}" as="item" iteration="menuIteration">
            <li{ts:render(path:'{item.state}.attributes') -> f:format.raw()}>
                <neos:link.node node="{item.node}">{item.label}</neos:link.node>
            </li>
        </f:for>
    </ul>
</f:section>
