{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}

<div class="collapse navbar-collapse navbar-ex1-collapse">
    <f:render section="itemsList" arguments="{items: items}" />
</div>

<f:section name="itemsList">
    <ul class="nav navbar-nav">
        <f:for each="{items}" as="item" iteration="menuIteration">
            <li{fusion:render(path:'{item.state}.attributes') -> f:format.raw()}>
                <neos:link.node node="{item.node}">
                    {item.label}
                    <f:if condition="{item.label} == 'Aktuelles'">
                        <span class="badge">1</span>
                    </f:if>
                    <f:if condition="{item.menubadge}">
                        <span class="badge">{item.menubadge}</span>
                    </f:if>
                </neos:link.node>
            </li>
        </f:for>
    </ul>
</f:section>
